Repository digitalsamba/embedded-api-mcp-server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @digital-samba/developers, @digital-samba/documentation-team, @digital-samba/devops

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @digital-samba/developers

# Order is important; the last matching pattern takes the most precedence.

# Core server files
/src/ @digital-samba/developers
/bin/ @digital-samba/developers

# Documentation
/docs/ @digital-samba/documentation-team @digital-samba/developers

# CI/CD and GitHub workflows
/.github/ @digital-samba/devops

fix: Convert Zod schemas to JSON Schema format for MCP compatibility
  src/tools/communication-management/index.ts
  src/tools/library-management/index.ts
  src/tools/live-session-controls/index.ts
  src/tools/poll-management/index.ts
Owners: @digital-samba/developers

fix: Critical analytics API compatibility fix and comprehensive tests
  IMPLEMENTATION-STATUS.md
  src/resources/analytics/index.ts
  src/types/analytics-resource.ts
  tests/unit/analytics-resources.test.ts
  tests/unit/recordings.test.ts
  tests/unit/rooms.test.ts
  tests/unit/sessions.test.ts
Owners: @digital-samba/developers

feat: Complete v2.0 implementation with 95+ endpoints
  CLAUDE.md
  README.md
  docs/gap-filling-implementation-plan.md
  docs/implementation-status-report.md
  docs/session-handover-2025-01-06.md
  docs/testing-plan.md
  package.json
  src/digital-samba-api.ts
  src/index.ts
  src/resources/analytics/index.ts
  src/tools/library-management/index.ts
  src/tools/live-session-controls/index.ts
  src/tools/role-management/index.ts
  src/types/analytics-resource.ts
Owners: @digital-samba/developers, @digital-samba/documentation-team

some cleanup
  PACKAGE.md
  README.md
  examples/README.md
  examples/advanced-config.js
  examples/basic-server.js
  examples/claude-desktop-config.example.json
  examples/custom-extensions.js
  examples/express-integration.js
  examples/monitoring/grafana-dashboard.example.json
  examples/node-client.js
  src/digital-samba-api.ts
Owners: @digital-samba/developers

more cleanup
  README.md
  src/digital-samba-api.ts
  src/tools/room-management/index.ts
Owners: @digital-samba/developers

fix: Complete integration and E2E test fixes for stdio transport
  .github/workflows/release.yml
  README.md
  docs/api-reference-audit.md
  docs/api-reference-summary.md
  docs/prompt-mapping-examples.md
  docs/release-workflow-setup.md
  docs/session-handover-2025-01-07.md
  docs/session-handover-integration-tests.md
  docs/session-handover-next-steps.md
  docs/session-handover-testing.md
  docs/session-summary-test-fixes.md
  docs/testing-strategy.md
  package-lock.json
  package.json
  src/index.ts
  src/resources/analytics/index.ts
  src/resources/recordings-adapter.ts
  src/resources/rooms/index.ts
  src/resources/sessions/index.ts
  src/tools/analytics-tools/index.ts
  src/tools/recording-tools-adapter.ts
  src/tools/room-management/index.ts
  src/tools/webhook-management/index.ts
  tests/e2e/mcp-protocol-compliance.test.ts
  tests/e2e/server-e2e.test.ts
  tests/integration/server-api-integration.test.ts
  tests/mocks/api-responses.ts
  tests/mocks/mock-api-server.ts
  tests/mocks/test-utils.ts
  tests/rate-limiter.test.ts
  tests/unit/analytics-resources.test.ts
  tests/unit/analytics.test.ts.skip
  tests/unit/auth.test.ts
  tests/unit/digital-samba-api.test.ts
  tests/unit/rate-limiter.test.ts
  tests/unit/recordings.test.ts
  tests/unit/rooms.test.ts
  tests/unit/server.test.ts
  tests/unit/webhooks.test.ts
  tests/webhooks.test.plan.md
Owners: @digital-samba/devops, @digital-samba/developers, @digital-samba/documentation-team

Enhanced Tool descriptions
  README.md
  docs/enhanced-tool-descriptions.md
  src/tools/analytics-tools/index.ts
  src/tools/communication-management/index.ts
  src/tools/library-management/index.ts
  src/tools/live-session-controls/index.ts
  src/tools/poll-management/index.ts
  src/tools/recording-tools-adapter.ts
  src/tools/role-management/index.ts
  src/tools/room-management/index.ts
  src/tools/session-management/index.ts
  src/tools/webhook-management/index.ts
Owners: @digital-samba/developers, @digital-samba/documentation-team

feat: Enhanced resource descriptions for better Claude Desktop UX
  docs/enhanced-tool-descriptions.md
  src/resources/analytics/index.ts
  src/resources/content/index.ts
  src/resources/exports/index.ts
  src/resources/recordings-adapter.ts
  src/resources/rooms/index.ts
  src/resources/sessions/index.ts
Owners: @digital-samba/documentation-team, @digital-samba/developers

docs: Add Claude Desktop testing checklist
  docs/claude-desktop-testing-checklist.md
Owners: @digital-samba/documentation-team, @digital-samba/developers

chore: rename package to @digitalsamba/embedded-api-mcp-server
  .github/workflows/release.yml
  CLAUDE.md
  README.md
  deprecate-old-package.sh
  package.json
Owners: @digital-samba/devops, @digital-samba/developers

chore: cleanup - remove deprecation script after successful migration
  deprecate-old-package.sh
Owners: @digital-samba/developers
