Repository digitalsamba/embedded-api-mcp-server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @digital-samba/developers, @digital-samba/documentation-team, @digital-samba/devops

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @digital-samba/developers

# Order is important; the last matching pattern takes the most precedence.

# Core server files
/src/ @digital-samba/developers
/bin/ @digital-samba/developers

# Documentation
/docs/ @digital-samba/documentation-team @digital-samba/developers

# CI/CD and GitHub workflows
/.github/ @digital-samba/devops

Fix: Update debug scripts and improve environment loading
  package.json
  run-direct.bat
  src/index.ts
Owners: @digital-samba/developers

Fix: Add extensive debugging and fix module initialization
  debug-module.bat
  debug-module.js
  express-test.js
  run-express-test.bat
  run-simple-server.bat
  simple-server.js
  src/index.ts
Owners: @digital-samba/developers

Add token refresh, connection keepalive, and resource optimization features
  package.json
  src/connection-manager.ts
  src/digital-samba-api-enhanced.ts
  src/index.ts
  src/resource-optimizer.ts
  src/token-manager.ts
  test-enhanced-features.bat
  tests/test-enhanced-features.js
Owners: @digital-samba/developers

Add documentation for high-traffic optimizations
  docs/HIGH-TRAFFIC.md
Owners: @digital-samba/documentation-team, @digital-samba/developers

Add Prometheus metrics collection with HTTP and API metrics
  package-lock.json
  package.json
  src/digital-samba-api.ts
  src/index.ts
  src/logger.ts
  src/metrics.ts
  test-metrics.bat
  tests/test-metrics.js
Owners: @digital-samba/developers

Fix metrics initialization reference issue
  src/index.ts
Owners: @digital-samba/developers

Add test scripts for metrics functionality
  test-metrics.bat
  tests/test-metrics.js
Owners: @digital-samba/developers

Add Prometheus metrics documentation and Grafana dashboard
  README.md
  docs/grafana-dashboard.json
  docs/prometheus-setup.md
Owners: @digital-samba/developers, @digital-samba/documentation-team

Implement circuit breaker pattern for API calls
  docs/circuit-breaker.md
  src/circuit-breaker.ts
  src/digital-samba-api-circuit-breaker.ts
  src/index.ts
  src/metrics.ts
  test-circuit-breaker.bat
  test-circuit-breaker.js
Owners: @digital-samba/documentation-team, @digital-samba/developers

Update progress summary to include circuit breaker implementation
  PROGRESS-SUMMARY.md
Owners: @digital-samba/developers

Implement graceful degradation for partial API outages
  docs/graceful-degradation.md
  src/errors.ts
  src/graceful-degradation.ts
  src/index.ts
  src/metrics.ts
  test-graceful-degradation.bat
  tests/test-graceful-degradation.js
Owners: @digital-samba/documentation-team, @digital-samba/developers

feat: implement graceful degradation for API outages
  src/digital-samba-api-resilient.ts
  src/index.ts
  test-graceful-degradation-mcp.bat
  test-resilient-api.bat
  tests/test-graceful-degradation-mcp.js
  tests/test-resilient-api.js
Owners: @digital-samba/developers

docs: update documentation for graceful degradation implementation
  PROGRESS-SUMMARY.md
  docs/graceful-degradation.md
Owners: @digital-samba/developers, @digital-samba/documentation-team

fix: make circuit breaker registry extend EventEmitter for event support
  src/circuit-breaker.ts
  src/graceful-degradation.ts
Owners: @digital-samba/developers

docs: add fix documentation for circuit breaker registry EventEmitter issue
  docs/fixes/circuit-breaker-registry-events-fix.md
Owners: @digital-samba/documentation-team, @digital-samba/developers

Add comprehensive test scripts for token refresh and resource optimization
  NEXT-STEPS.md
  PROGRESS-SUMMARY.md
  package.json
  test-resource-optimizer.bat
  test-token-refresh.bat
  tests/resource-optimizer-test.js
  tests/token-refresh-test.js
Owners: @digital-samba/developers

feat: finalize npm package configuration and setup versioning strategy
  .github/workflows/ci-cd.yml
  NEXT-STEPS.md
  PROGRESS-SUMMARY.md
  docs/versioning-strategy.md
  examples/README.md
  examples/advanced-config.js
  examples/basic-server.js
  examples/custom-extensions.js
  examples/express-integration.js
  examples/node-client.js
Owners: @digital-samba/devops, @digital-samba/developers, @digital-samba/documentation-team

docs: update PROGRESS-SUMMARY with commit hash
  PROGRESS-SUMMARY.md
Owners: @digital-samba/developers

Implement comprehensive testing infrastructure for MCP server, including unit tests, integration tests, and e2e tests
  PROGRESS-SUMMARY.md
  tests/e2e/server-e2e.test.ts
  tests/integration/server-api-integration.test.ts
  tests/mocks/mock-api-server.ts
  tests/mocks/test-utils.ts
  tests/unit/memory-cache.test.ts
  tests/unit/rate-limiter.test.ts
  tests/unit/server.test.ts
Owners: @digital-samba/developers

Update progress summary with commit hash
  PROGRESS-SUMMARY.md
Owners: @digital-samba/developers

Add MCP protocol compliance tests
  tests/e2e/mcp-protocol-compliance.test.ts
Owners: @digital-samba/developers

Update PROGRESS-SUMMARY.md with commit ID
  PROGRESS-SUMMARY.md
Owners: @digital-samba/developers

Update NEXT-STEPS.md to reflect completed MCP compliance tests
  NEXT-STEPS.md
Owners: @digital-samba/developers

Replace load testing with security testing in task list and add security testing plan
  NEXT-STEPS.md
  docs/security-testing.md
Owners: @digital-samba/developers, @digital-samba/documentation-team

Update documentation to mark MCP Inspector testing as completed
  NEXT-STEPS.md
Owners: @digital-samba/developers

chore: enhance npm package configuration for better TypeScript compatibility
  .github/workflows/ci-cd.yml
  .npmignore
  bin/cli.js
  package.json
  tsconfig.json
Owners: @digital-samba/devops, @digital-samba/developers

fix: rollback verbatimModuleSyntax and document refactoring needs
  tsconfig.json
Owners: @digital-samba/developers

docs: update npm packaging, identify TypeScript errors that need fixing
  tsconfig.build.json
Owners: @digital-samba/developers

Fix circuit breaker fallback implementation for proper typing
  src/digital-samba-api-circuit-breaker.ts
Owners: @digital-samba/developers

Update circuit breaker test to correctly validate fallback behavior
  test-circuit-breaker.js
Owners: @digital-samba/developers

feat(packaging): optimize npm package configuration for distribution
  .github/workflows/ci-cd.yml
  .npmignore
  build-size-check.js
  build.js
  package.json
  test-package.bat
  test-package.sh
Owners: @digital-samba/devops, @digital-samba/developers

docs: update documentation to emphasize npx usage instead of global installation
  PACKAGE.md
  README.md
  bin/cli.js
Owners: @digital-samba/developers

Add local testing scripts for npx and improve CLI argument handling
  bin/cli.js
  link-local-test.bat
  test-local-npm.bat
  test-local-npx.bat
  test-local-npx.js
Owners: @digital-samba/developers

Update documentation with local testing instructions
  PROGRESS-SUMMARY.md
  README.md
Owners: @digital-samba/developers

Add Claude Desktop integration with console window suppression
  bin/cli.js
  claude-desktop-wrapper.js
  test-local-npx.js
Owners: @digital-samba/developers

Update documentation for Claude Desktop integration wrapper
  README.md
Owners: @digital-samba/developers

Use explicit path to node.exe in Claude Desktop integration to avoid 'Open with' dialog
  README.md
  claude-desktop-wrapper.js
  test-local-npx.js
Owners: @digital-samba/developers

Create batch file wrapper to avoid Windows 'Open with' dialog
  README.md
  claude-desktop-wrapper.bat
Owners: @digital-samba/developers

Enhance error handling and debugging for MCP server startup
  bin/cli.js
  claude-desktop-wrapper.bat
Owners: @digital-samba/developers

Add Claude Desktop integration helper scripts and tools
  claude-desktop-config-helper.js
  direct-mcp-server.js
  generate-claude-desktop-config.bat
  test-claude-desktop.bat
Owners: @digital-samba/developers
