Repository digitalsamba/embedded-api-mcp-server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @digital-samba/developers, @digital-samba/documentation-team, @digital-samba/devops

Fix server timeout issues and add connection diagnostics
  debug-server-connection.bat
  debug-server-connection.js
  mcp-proxy.js
  src/digital-samba-api-circuit-breaker.ts
  src/index.ts
Owners: @digital-samba/developers

Add server connection troubleshooting documentation
  SERVER-CONNECTION.md
Owners: @digital-samba/developers

1.0.0-beta.9
  package-lock.json
  package.json
Owners: @digital-samba/developers

Fix build-for-npm.bat to correctly use npx for calling rimraf and tsc
  build-for-npm.bat
Owners: @digital-samba/developers

Fix package-test script for Windows compatibility
  package.json
Owners: @digital-samba/developers

1.0.0-beta.10
  package-lock.json
  package.json
Owners: @digital-samba/developers

Fix: Implement advanced timeout handling during initialization
  ADVANCED-TIMEOUT-FIX.md
  build-with-timeout-fix.bat
  debug-timeout.bat
  debug-timeout.js
  src/circuit-breaker.ts
  src/digital-samba-api-circuit-breaker.ts
  src/index.ts
Owners: @digital-samba/developers

Add comprehensive test scripts for timeout fix
  debug-timeout.js
  test-timeout-fix-comprehensive.bat
  test-timeout-fix-comprehensive.js
Owners: @digital-samba/developers

1.0.0-beta.11
  package-lock.json
  package.json
Owners: @digital-samba/developers

debug
  debug-timeout.js
  src/index.ts
  test-timeout-fix-comprehensive.js
Owners: @digital-samba/developers

fix: Claude Desktop authentication working! 🎉
  CLAUDE.md
  bin/cli.js
  bin/stdio-direct.js
  bin/stdio-server.js
  package-lock.json
  package.json
  src/create-stdio-server.ts
  src/stdio-full-server.ts
  src/stdio-minimal.ts
  src/stdio-server-full.ts
  src/stdio-wrapper.ts
  test-npm-package.js
Owners: @digital-samba/developers

working place
  debug-claude-behavior.md
  debug-tools.js
  package.json
  src/create-stdio-server.ts
Owners: @digital-samba/developers

feat: v1.0 scope reduction - remove advanced features for production release
  src/breakout-rooms.ts
  src/create-stdio-server.ts
  src/digital-samba-api.ts
  src/index.ts
  src/meetings.ts
  src/moderation.ts
  src/recordings.ts
  src/stdio-server-full.ts
  tests/unit/breakout-rooms.test.ts
  tests/unit/meetings.test.ts
  tests/unit/moderation.test.ts
Owners: @digital-samba/developers

feat: consolidate dual server architecture (HTTP/STDIO)
  bin/stdio-direct.js
  src/create-stdio-server.ts
  src/index.ts
  src/server-core.ts
  src/stdio-full-server.ts
  src/stdio-minimal.ts
  src/stdio-server-full.ts
  src/stdio-wrapper.ts
  src/transports/http-transport.ts
  src/transports/stdio-transport.ts
Owners: @digital-samba/developers

chore: bump version to 1.0.0-beta.20
  package.json
Owners: @digital-samba/developers

fix: correct build script paths for npm publish
  scripts/build.js
Owners: @digital-samba/developers

feat: Add comprehensive Analytics resource with MCP integration
  Digital-Samba-MCP-v1-Technical-Inventory.md
  src/analytics.ts
  src/index.ts
  test-analytics-integration.cjs
  test-analytics-simple.cjs
  tests/unit/analytics.test.ts
Owners: @digital-samba/developers

feat: Add comprehensive Session Management tools - v1.0.0-beta.21
  Digital-Samba-MCP-v1-Technical-Inventory.md
  package.json
  src/index.ts
  src/sessions.ts
  test-session-tools.cjs
Owners: @digital-samba/developers

feat: Add comprehensive Session Management tools - v1.0.0-beta.21
  Digital-Samba-MCP-v1-Technical-Inventory.md
  README.md
Owners: @digital-samba/developers

feat: Begin v1 to v2 restructuring - separate Resources from Tools
  CLAUDE.md
  docs/v2-restructuring-progress.md
  src/index.ts
  src/resources/analytics/index.ts
  src/resources/rooms/index.ts
  src/tools/analytics-tools/index.ts
  src/tools/room-management/index.ts
  src/tools/session-management/index.ts
Owners: @digital-samba/developers, @digital-samba/documentation-team

feat: Complete test fixes and modular structure implementation
  SESSION-HANDOVER.md
  docs/HANDOVER-VERIFICATION-CHECKLIST.md
  docs/SESSION-HANDOVER.md
  jest.config.cjs
  jest.config.js
  src/auth.ts
  src/cache.ts
  src/recordings.ts
  src/resources/recordings/index.ts
  src/tools/recording-management/index.ts
  src/tools/webhook-management/index.ts
  src/webhooks.ts
  tests/unit/memory-cache.test.ts
  tests/unit/rate-limiter.test.ts
  tests/unit/server.test.ts
  tests/unit/webhooks.test.ts
  tsconfig.json
Owners: @digital-samba/developers, @digital-samba/documentation-team

feat: Complete V2 modular architecture milestone
  SESSION-HANDOVER.md
  docs/SESSION-HANDOVER.md
  jest.config.cjs
  src/auth.ts
  src/digital-samba-api.ts
  src/index.ts
  src/resources/recordings/index.ts
  src/resources/sessions/index.ts
  src/sessions.ts
  src/tools/analytics-tools/index.ts
  src/tools/recording-management/index.ts
  src/tools/webhook-management/index.ts
  src/webhooks.ts
  src/webhooks/index.ts
  src/webhooks/webhook-service.ts
  src/webhooks/webhook-types.ts
  tests/mocks/node-fetch.ts
  tests/unit/auth.test.ts
  tests/unit/recordings.test.ts
  tests/unit/server.test.ts
Owners: @digital-samba/developers, @digital-samba/documentation-team

feat: Complete Phase 2 - Add export resources for data extraction
  src/digital-samba-api.ts
  src/index.ts
  src/resources/exports/index.ts
Owners: @digital-samba/developers

feat: Complete Phase 3 - Live Session Controls
  docs/v2-restructuring-progress.md
  src/index.ts
  src/tools/live-session-controls/index.ts
Owners: @digital-samba/documentation-team, @digital-samba/developers

chore: bump version to 1.3.0-beta.1
  package.json
Owners: @digital-samba/developers

feat: Implement Phase 4 - Communication and Poll Management
  docs/v2-restructuring-progress.md
  package.json
  src/digital-samba-api.ts
  src/index.ts
  src/tools/communication-management/index.ts
  src/tools/poll-management/index.ts
Owners: @digital-samba/documentation-team, @digital-samba/developers

feat: Add comprehensive Library & Content Management tools - v1.5.0-beta.1
  docs/v2-restructuring-progress.md
  package.json
  src/index.ts
  src/resources/content/index.ts
  src/tools/library-management/index.ts
Owners: @digital-samba/documentation-team, @digital-samba/developers

fix: Add missing create-webapp and create-whiteboard tools
  docs/v2-restructuring-progress.md
  src/digital-samba-api.ts
  src/tools/library-management/index.ts
Owners: @digital-samba/documentation-team, @digital-samba/developers

docs: Improve v2 restructuring progress documentation for handover
  docs/v2-restructuring-progress.md
Owners: @digital-samba/documentation-team, @digital-samba/developers

fix: Resolve duplicate tool registration conflicts - app integrity restored
  SESSION-HANDOVER.md
  src/tools/session-management/index.ts
Owners: @digital-samba/developers

feat: Add automated npm deployment workflows and update README
  .github/DEPLOYMENT.md
  .github/workflows/ci-cd.yml
  .github/workflows/npm-deploy.yml
  .github/workflows/pr-tests.yml
  README.md
Owners: @digital-samba/devops, @digital-samba/developers

fix: Make GitHub workflows more resilient for initial deployment
  .github/workflows/npm-deploy.yml
  .github/workflows/pr-tests.yml.disabled
Owners: @digital-samba/devops

fix: Resolve workflow failures - missing configs and path issues
  .eslintrc.json
  PACKAGE.md
  TROUBLESHOOTING.md
  scripts/build-size-check.js
Owners: @digital-samba/developers

fix: Improve npm authentication in workflows
  .github/workflows/npm-deploy.yml
  .github/workflows/test-npm-auth.yml
Owners: @digital-samba/devops

fix: Update package to use @digitalsamba scope
  README.md
  package.json
Owners: @digital-samba/developers

fix: Handle string < /dev/null | string[] type in recording resources params
  src/resources/recordings/index.ts
Owners: @digital-samba/developers

fix: Resolve ESLint warnings in cache.ts
  src/cache.ts
Owners: @digital-samba/developers

fix: Resolve ESLint errors in digital-samba-api-circuit-breaker.ts
  src/digital-samba-api-circuit-breaker.ts
Owners: @digital-samba/developers

fix: Resolve TypeScript compilation errors
  src/digital-samba-api-circuit-breaker.ts
  src/resource-optimizer.ts
Owners: @digital-samba/developers

fix: Resolve ESLint warnings and errors
  src/auth.ts
  src/circuit-breaker.ts
  src/connection-manager.ts
Owners: @digital-samba/developers

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @digital-samba/developers

# Order is important; the last matching pattern takes the most precedence.

# Core server files
/src/ @digital-samba/developers
/bin/ @digital-samba/developers

# Documentation
/docs/ @digital-samba/documentation-team @digital-samba/developers

# CI/CD and GitHub workflows
/.github/ @digital-samba/devops
