Repository digitalsamba/embedded-api-mcp-server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @digital-samba/developers, @digital-samba/documentation-team, @digital-samba/devops

fix: Resolve ESLint errors and warnings in API client files
  src/digital-samba-api-enhanced.ts
  src/digital-samba-api-resilient.ts
Owners: @digital-samba/developers

fix: Resolve TypeScript compilation errors in digital-samba-api-enhanced.ts
  src/digital-samba-api-enhanced.ts
Owners: @digital-samba/developers

fix: Resolve ESLint errors and reduce warnings
  eslint-manual-fixes-2025-06-01T19-48-56-938Z.md
  eslint-manual-fixes-2025-06-01T19-53-33-277Z.md
  eslint-report-2025-06-01T19-46-37-408Z.json
  eslint-report.md
  package.json
  scripts/README-ESLINT.md
  scripts/eslint-batch-fix.cjs
  scripts/eslint-fix.bat
  scripts/eslint-fix.cjs
  scripts/eslint-manual-fixes.cjs
  scripts/fix-unused-vars.cjs
  src/digital-samba-api.ts
  src/errors.ts
  src/graceful-degradation.ts
  src/index.ts
  src/rate-limiter.ts
  src/resource-optimizer.ts
  src/tools/room-management/index.ts
  src/tools/session-management/index.ts
  src/tools/webhook-management/index.ts
  src/webhooks/webhook-service.ts
Owners: @digital-samba/developers

fix: Comprehensive ESLint error reduction
  scripts/final-eslint-fixes.cjs
  scripts/fix-all-eslint-errors.cjs
  scripts/fix-remaining-unused.cjs
  src/digital-samba-api.ts
  src/index.ts
  src/rate-limiter.ts
  src/resources/analytics/index.ts
  src/resources/content/index.ts
  src/resources/recordings/index.ts
  src/server-core.ts
  src/token-manager.ts
  src/tools/communication-management/index.ts
  src/tools/library-management/index.ts
  src/tools/live-session-controls/index.ts
  src/tools/poll-management/index.ts
  src/tools/webhook-management/index.ts
  src/transports/stdio-transport.ts
Owners: @digital-samba/developers

fix: Resolve TypeScript compilation errors from ESLint fixes
  package-lock.json
  package.json
  src/index.ts
  src/resources/analytics/index.ts
  src/server-core.ts
  src/tools/live-session-controls/index.ts
  src/tools/webhook-management/index.ts
Owners: @digital-samba/developers

fix: Resolve test failures and add dev:clean script
  package.json
  src/graceful-degradation.ts
  tests/unit/server.test.ts
Owners: @digital-samba/developers

fix: Add Jest forceExit flag to prevent CI/CD hanging
  jest.config.cjs
  package.json
Owners: @digital-samba/developers

fix: Handle scoped package names in build-size-check script
  scripts/build-size-check.js
Owners: @digital-samba/developers

fix: Replace rimraf with Node.js rmSync for CI/CD compatibility
  package.json
Owners: @digital-samba/developers

fix: Create production TypeScript config for CI/CD builds
  package.json
  src/graceful-degradation.ts
  tsconfig.prod.json
Owners: @digital-samba/developers

fix: Remove explicit types from tsconfig to fix CI/CD builds
  tsconfig.json
  tsconfig.prod.json
Owners: @digital-samba/developers

fix: Use Babel for production builds to avoid TypeScript type dependencies
  package.json
Owners: @digital-samba/developers

fix: Remove prepare and prepublishOnly scripts to fix npm deployment
  package.json
  scripts/build-prod.js
Owners: @digital-samba/developers

fix: Update build-prod script to use TypeScript when available
  scripts/build-prod.js
Owners: @digital-samba/developers

docs: Update README with complete feature list and clarify live session controls
  README.md
Owners: @digital-samba/developers

fix: Correct default port in README from 3000 to 4521
  README.md
Owners: @digital-samba/developers

docs: Update README with correct Claude Desktop configuration
  README.md
Owners: @digital-samba/developers

1.5.0
  package-lock.json
  package.json
Owners: @digital-samba/developers

chore: Release v1.5.0
  claude-desktop-config.json
Owners: @digital-samba/developers

trigger: Force workflow run
  .github/workflows/trigger.txt
Owners: @digital-samba/devops

chore: Release v1.5.1-beta.1 with README corrections
  package-lock.json
  package.json
Owners: @digital-samba/developers

feat: Major code quality improvements for public release
  eslint-report-2025-06-02T01-39-00-370Z.json
  eslint-report-2025-06-02T01-51-09-761Z.json
  eslint-report-2025-06-02T01-54-51-743Z.json
  scripts/fix-unused-vars.cjs
  scripts/unused-vars-summary.md
  src/digital-samba-api.ts
  src/index.ts
  src/metrics.ts
  src/rate-limiter.ts
  src/resources/analytics/index.ts
  src/resources/content/index.ts
  src/resources/exports/index.ts
  src/tools/communication-management/index.ts
  src/tools/library-management/index.ts
  src/tools/poll-management/index.ts
  src/transports/stdio-transport.ts
  src/webhooks.ts
Owners: @digital-samba/developers

docs: Major documentation enhancement for public showcase
  docs/architecture-overview.md
  docs/documentation-audit-report.md
  docs/usage-examples.md
  src/cache.ts
  src/digital-samba-api.ts
  src/index.ts
  src/tools/room-management/index.ts
Owners: @digital-samba/documentation-team, @digital-samba/developers

feat: Complete public release preparation
  README-original.md
  README.md
Owners: @digital-samba/developers

chore: Thorough cleanup for pristine public repository
  .gitignore
  README-original.md
  SESSION-HANDOVER.md
  docs/HANDOVER-VERIFICATION-CHECKLIST.md
  docs/SESSION-HANDOVER.md
  eslint-manual-fixes-2025-06-01T19-48-56-938Z.md
  eslint-manual-fixes-2025-06-01T19-53-33-277Z.md
  eslint-report-2025-06-01T19-46-37-408Z.json
  eslint-report-2025-06-02T01-39-00-370Z.json
  eslint-report-2025-06-02T01-51-09-761Z.json
  eslint-report-2025-06-02T01-54-51-743Z.json
  eslint-report.md
  examples/claude-desktop-config.example.json
  scripts/README-ESLINT.md
  scripts/build-for-npm.bat
  scripts/check-typescript-errors.bat
  scripts/eslint-batch-fix.cjs
  scripts/eslint-fix.bat
  scripts/eslint-fix.cjs
  scripts/eslint-manual-fixes.cjs
  scripts/final-eslint-fixes.cjs
  scripts/fix-all-eslint-errors.cjs
  scripts/fix-remaining-unused.cjs
  scripts/fix-unused-vars.cjs
  scripts/run.bat
  scripts/unused-vars-summary.md
  test-analytics-integration.cjs
  test-analytics-simple.cjs
  test-session-tools.cjs
  tsconfig.prod.json
Owners: @digital-samba/developers, @digital-samba/documentation-team

docs: Clean and organize documentation for public release
  docs/HIGH-TRAFFIC.md
  docs/MODERATION.md
  docs/README.md
  docs/SERVER-CONNECTION.md
  docs/documentation-audit-report.md
  docs/error-handling-plan.md
  docs/fixes/circuit-breaker-registry-events-fix.md
  docs/import-guidelines.md
  docs/mcp-sdk-import-compatibility.md
  docs/meeting-scheduling.md
  docs/security-testing.md
  docs/unit-testing-plan.md
  docs/v2-restructuring-progress.md
  docs/versioning-strategy.md
  docs/webhook-testing.md
  examples/monitoring/grafana-dashboard.example.json
Owners: @digital-samba/documentation-team, @digital-samba/developers

chore: Release v1.5.1-beta.2 with architecture improvements notice
  README.md
  package.json
Owners: @digital-samba/developers

refactor: Phase 1 - Remove unnecessary enterprise components
  src/analytics.ts
  src/auth.ts
  src/circuit-breaker.ts
  src/digital-samba-api-circuit-breaker.ts
  src/digital-samba-api-enhanced.ts
  src/digital-samba-api-resilient.ts
  src/digital-samba-api.ts
  src/graceful-degradation.ts
  src/index.ts
  src/logger.ts
  src/metrics.ts
  src/rate-limiter.ts
  src/recordings.ts
  src/resources/analytics-handler.ts
  src/resources/content-handler.ts
  src/resources/recordings-handler.ts
  src/resources/rooms-handler.ts
  src/resources/rooms/index.ts
  src/resources/sessions-handler.ts
  src/server-core.ts
  src/sessions.ts
  src/stdio-full-server.ts
  src/token-manager.ts
  src/tools/analytics-tools/index.ts
  src/tools/recording-tools-handler.ts
  src/tools/room-management/index.ts
  src/tools/room-tools-handler.ts
  src/tools/session-tools-handler.ts
  src/tools/webhook-management/index.ts
  src/transports/http-transport.ts
  src/transports/stdio-transport.ts
  src/types/analytics-resource.ts
  src/types/analytics.ts
  src/webhooks.ts
  src/webhooks/index.ts
  src/webhooks/webhook-service.ts
  src/webhooks/webhook-types.ts
Owners: @digital-samba/developers

refactor: Phase 2 - Restructure core implementation
  src/index.ts
  src/resources/analytics-handler.ts
  src/resources/content-handler.ts
  src/resources/recordings-adapter.ts
  src/resources/recordings-handler.ts
  src/resources/rooms-handler.ts
  src/resources/sessions-handler.ts
  src/tools/recording-tools-adapter.ts
  src/tools/recording-tools-handler.ts
  src/tools/room-tools-handler.ts
  src/tools/session-tools-handler.ts
Owners: @digital-samba/developers

docs: Phase 3 - Documentation rewrite for simplified architecture
  CLAUDE.md
  README.md
  docs/API.md
  docs/README.md
  docs/architecture-overview.md
  docs/circuit-breaker.md
  docs/graceful-degradation.md
  docs/prometheus-setup.md
  docs/rate-limiting-caching.md
  docs/webhook-architecture.md
Owners: @digital-samba/developers, @digital-samba/documentation-team

feat: Phase 4 - Simplify dependencies and optimize package size
  package-lock.json
  package.json
Owners: @digital-samba/developers

fix: Update GitHub Actions workflow to use correct build script
  .github/workflows/npm-deploy.yml
Owners: @digital-samba/devops

fix: Make API key optional for resource/tool listing
  src/index.ts
Owners: @digital-samba/developers

fix: Remove early API key validation that causes disconnection
  src/index.ts
Owners: @digital-samba/developers

fix: Fix stdio mode by removing reference to deleted stdio-full-server
  bin/cli.js
  bin/stdio-direct.js
Owners: @digital-samba/developers

fix: Remove leftover files from Phase 1 that were causing build issues
  package.json
  src/connection-manager.ts
  src/resource-optimizer.ts
Owners: @digital-samba/developers

fix: Critical fix - restore error logging in stdio mode
  bin/cli.js
Owners: @digital-samba/developers

fix: export main function and improve stdio-direct server startup
  bin/stdio-direct.js
  src/index.ts
Owners: @digital-samba/developers

fix: copy all bin files during build
  scripts/copy-bin.js
Owners: @digital-samba/developers

fix: Windows compatibility for stdio mode
  bin/stdio-direct.js
Owners: @digital-samba/developers

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @digital-samba/developers

# Order is important; the last matching pattern takes the most precedence.

# Core server files
/src/ @digital-samba/developers
/bin/ @digital-samba/developers

# Documentation
/docs/ @digital-samba/documentation-team @digital-samba/developers

# CI/CD and GitHub workflows
/.github/ @digital-samba/devops
