Repository digitalsamba/embedded-api-mcp-server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @digital-samba/developers, @digital-samba/documentation-team, @digital-samba/devops

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @digital-samba/developers

# Order is important; the last matching pattern takes the most precedence.

# Core server files
/src/ @digital-samba/developers
/bin/ @digital-samba/developers

# Documentation
/docs/ @digital-samba/documentation-team @digital-samba/developers

# CI/CD and GitHub workflows
/.github/ @digital-samba/devops

Add NPM deployment configuration and documentation
  .github/workflows/ci-cd.yml
  NPM-DEPLOYMENT.md
Owners: @digital-samba/devops, @digital-samba/developers

Add codebase cleanup plan and quality assurance guidelines
  CLEANUP.md
Owners: @digital-samba/developers

Add code analysis tool for identifying cleanup candidates
  analyze-code.bat
  tools/file-analyzer.js
Owners: @digital-samba/developers

Add standardized error handling to moderation module and create unit tests
  src/moderation.ts
  tests/unit/moderation.test.ts
Owners: @digital-samba/developers

Add standardized error handling to recordings module and create unit tests
  src/recordings.ts
  tests/unit/recordings.test.ts
Owners: @digital-samba/developers

Add progress summary for codebase cleanup
  PROGRESS-SUMMARY.md
Owners: @digital-samba/developers

Add detailed next steps for cleanup process
  NEXT-STEPS-CLEANUP.md
Owners: @digital-samba/developers

Standardize error handling and improve unit tests for API client, auth, and breakout rooms
  CLEANUP.md
  GitHub-README.md
  NEXT-STEPS.md
  docs/meeting-scheduling.md
  jest.config.js
  package.json
  src/auth.ts
  src/breakout-rooms.ts
  src/digital-samba-api.ts
  src/errors.ts
  src/index.ts
  src/logger.ts
  src/meetings.ts
  src/webhooks.ts
  test-meeting-scheduling.bat
  tests/README.md
  tests/meeting-scheduling-test.js
  tests/mocks/api-responses.ts
  tests/unit/auth.test.ts
  tests/unit/breakout-rooms.test.ts
  tests/unit/digital-samba-api.test.ts
  tests/unit/meetings.test.ts
Owners: @digital-samba/developers, @digital-samba/documentation-team

Update CLEANUP.md with progress on error handling and tests
  CLEANUP.md
Owners: @digital-samba/developers

Add error handling and unit testing implementation plans
  docs/error-handling-plan.md
  docs/unit-testing-plan.md
Owners: @digital-samba/documentation-team, @digital-samba/developers

refactor(meetings): improve error handling with standardized error types in tool handlers
  src/meetings.ts
Owners: @digital-samba/developers

refactor(meetings): update remaining tool handlers with standardized error handling patterns
  src/meetings.ts
Owners: @digital-samba/developers

refactor(webhooks): replace console.log statements with logger.info calls in examples
  src/webhooks.ts
Owners: @digital-samba/developers

Implemented standardized error handling in webhooks.ts
  src/webhooks.ts
Owners: @digital-samba/developers

Added comprehensive unit tests for webhooks.ts with standardized error handling
  tests/unit/webhooks.test.ts
  tests/webhooks.test.plan.md
Owners: @digital-samba/developers

Updated cleanup plan to reflect webhooks unit test completion
  NEXT-STEPS-CLEANUP.md
Owners: @digital-samba/developers

Complete error handling standardization across all modules
  PROGRESS-SUMMARY.md
Owners: @digital-samba/developers

Add import ordering guidelines and standardize imports in index.ts
  docs/import-guidelines.md
  src/index.ts
Owners: @digital-samba/documentation-team, @digital-samba/developers

Create optimized npm package configuration with improved types support
  .npmignore
  README.md.new
  package.json.new
  tsconfig.json.new
Owners: @digital-samba/developers

Update progress summary with import standards and npm package optimization
  PROGRESS-SUMMARY.md
Owners: @digital-samba/developers

Standardize imports according to guidelines in multiple source files
  src/auth.ts
  src/digital-samba-api.ts
  src/logger.ts
Owners: @digital-samba/developers

Replace configuration files with optimized versions for improved npm package support
  README.md
  package.json
  tsconfig.json
Owners: @digital-samba/developers

Update progress summary with successful package configuration testing
  PROGRESS-SUMMARY.md
Owners: @digital-samba/developers

standardize: Apply import ordering guidelines to breakout-rooms.ts
  src/breakout-rooms.ts
Owners: @digital-samba/developers

docs: Update progress summary with latest import standardization work
  PROGRESS-SUMMARY.md
Owners: @digital-samba/developers

standardize: Apply import ordering guidelines to recordings.ts
  src/recordings.ts
Owners: @digital-samba/developers

docs: Update progress summary with recordings.ts standardization
  PROGRESS-SUMMARY.md
Owners: @digital-samba/developers

standardize: Apply import ordering guidelines to moderation.ts
  src/moderation.ts
Owners: @digital-samba/developers

docs: Update progress summary with moderation.ts standardization
  PROGRESS-SUMMARY.md
Owners: @digital-samba/developers

standardize: Apply import ordering guidelines to meetings.ts
  src/meetings.ts
Owners: @digital-samba/developers

docs: Update progress summary with meetings.ts standardization
  PROGRESS-SUMMARY.md
Owners: @digital-samba/developers

standardize: Apply import ordering guidelines to webhooks.ts
  src/webhooks.ts
Owners: @digital-samba/developers

docs: Update progress summary with completion of import standardization
  PROGRESS-SUMMARY.md
Owners: @digital-samba/developers

Before standardizing error handling in meetings.ts
  README.md.new
  package.json.new
  tsconfig.json.new
Owners: @digital-samba/developers

Implement standardized error handling in meetings.ts - Completed all standardized error handling tasks across the project
  NEXT-STEPS-CLEANUP.md
  src/meetings-end.ts
  src/meetings-part2.ts
  src/meetings.ts.old
Owners: @digital-samba/developers

Implement request throttling and API response caching
  docs/rate-limiting-caching.md
  src/cache.ts
  src/digital-samba-api.ts
  src/index.ts
  src/rate-limiter.ts
  test-rate-limiting-caching.bat
  tests/cache.test.ts
  tests/rate-limiter.test.ts
  tools/test-rate-limiting-caching.js
  tools/test-server.js
Owners: @digital-samba/documentation-team, @digital-samba/developers

Fix rate limiting and caching implementation
  run-test-rate-limiting.bat
  src/index.ts
  src/meetings.ts
  test-rate-limiting-caching.js
Owners: @digital-samba/developers

Update documentation with rate limiting and caching features
  README.md
Owners: @digital-samba/developers

Fix: Add error handling for undefined request in webhooks tools and API key retrieval
  src/auth.ts
  src/webhooks.ts
Owners: @digital-samba/developers

Fix: Resolved silent failures and sessionId issues for MCP server
  NEXT-STEPS.md
  PROGRESS-SUMMARY.md
  README.md
  cleanup.bat
  debug-server.bat
  disable-auto-start.js
  install-and-setup.bat
  package-lock.json
  package.json
  src/auth.ts
  src/digital-samba-api.ts
  src/index.ts
  src/meetings-end.ts
  src/meetings-part2.ts
  src/webhooks.ts
  test-client.js
  test-server-simple.js
  test-server.bat
  test-standalone-server.js
  test-with-mcp-inspector.bat
  tools/test-rate-limiting-caching.js
  tools/test-server.js
Owners: @digital-samba/developers
